.game {
  width: 100%;
  height: 100dvh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #7134dd, #af9ccf);
}

.title-game {
  width: 90%;
  height: 10%;
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 600;
}

.container-of-games {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
}

.game-square {
  position: relative;
  height: 10%;
  width: 100%;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.6s cubic-bezier(0.91, -0.1, 0, 0.99);
  box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.game-square:nth-child(1) {
  background-color: #3D1C77; 
}

.game-square:nth-child(2) {
  background-color: #EAEAEA;
}

.game-square:nth-child(3) {
  background-color: #83E786;
}

.game-square:nth-child(4) {
  background-color: #F76666;
}

.game-square:nth-child(5) {
  background-color: #87CEEB;
}

.active-square:nth-child(1) {
  background-image: url("../../../public/games/slice-sweeper-image.png");
  background-position: center;
  background-size: cover;
}

.active-square:nth-child(2) {
  background-image: url("../../../public/games/topping-trouble-image.png");
  background-position: center;
  background-size: cover;
}

.active-square:nth-child(3) {
  background-image: url("../../../public/games/crust-connection-image.png");
  background-position: center;
  background-size: cover;
}

.active-square:nth-child(4) {
  background-image: url("../../../public/games/gatchaza-image.png");
  background-position: center;
  background-size: cover;
}

.active-square:nth-child(5) {
  background-image: url("../../../public/games/topping-droppings-image.png");
  background-position: center;
  background-size: cover;
}

.active-square {
  height: 50%;
  width: 100%;
}

.game-square button {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 20%;
  height: 10%;
  border-radius: 10px;
  background-color: var(--gray);
  transition: 0.3s cubic-bezier(0.91, -0.1, 0, 0.99);
}

.game-square button h1 {
  color: var(--black);
  font-size: 1rem !important;
  font-weight: 500;
}

.active-square button {
  opacity: 1 !important;
  visibility: visible !important;
  position: relative !important;
}

@media only screen and (min-width: 1200px) {
  .container-of-games {
    width: 40%;
  }
}
